In [1]:
# Import Library Dependencies
import pandas

In [2]:
# Import Drug Consumption CSV Data
drug_consupmtion_data = pandas.read_csv("data/drug_consumption.csv")
drug_consupmtion_data.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legal Highs,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [3]:
# Value-Key Pairs of the Original Data

data_values_definition = {
    "Age": {
        -0.95197: "18-24 years",
        -0.07854: "25-34 years",
        0.49788: "35-44 years",
        1.09449: "45-54 years",
        1.82213: "55-64 years",
        2.59171: "65+ years"},
    "Gender": {
        0.48246: "Female",
        -0.48246: "Male"},
    "Education": {
        -2.43591: "Left School Before 16 years",
        -1.73790: "Left School at 16 years",
        -1.43719: "Left School at 17 years",
        -1.22751: "Left School at 18 years",
        -0.61113: "Some College,No Certificate Or Degree",
        -0.05921: "Professional Certificate/ Diploma",
        0.45468: "University Degree",
        1.16365: "Masters Degree",
        1.98437: "Doctorate Degree"},
    "Country": {
        -0.09765: "Australia",
        0.24923: "Canada",
        -0.46841: "New Zealand",
        -0.28519: "Other",
        0.21128: "Republic of Ireland",
        0.96082: "United Kingdom",
        -0.57009: "United States"},
    "Ethnicity": {
        -0.50212: "Asian",
        -1.10702: "Black",
        1.90725: "Mixed-Black/Asian",
        0.12600: "Mixed-White/Asian",
        -0.22166: "Mixed-White/Black",
        0.11440: "Other",
        -0.31685: "White"}}

drug_usage_definition = {
    "CL0": "Never Used",
    "CL1": "Used over a Decade Ago",
    "CL2": "Used in Last Decade",
    "CL3": "Used in Last Year",
    "CL4": "Used in Last Month",
    "CL5": "Used in Last Week",
    "CL6": "Used in Last Day"}

In [4]:
# Replace the Data Values of the Original DataFrame using "data_values_definition" Dictionary
drug_consupmtion_df = drug_consupmtion_data.replace(data_values_definition)
drug_consupmtion_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legal Highs,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35-44 years,Female,Professional Certificate/ Diploma,United Kingdom,Mixed-White/Asian,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,25-34 years,Male,Doctorate Degree,United Kingdom,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,35-44 years,Male,Professional Certificate/ Diploma,United Kingdom,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,18-24 years,Female,Masters Degree,United Kingdom,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,35-44 years,Female,Doctorate Degree,United Kingdom,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [5]:
# Define the colums of the data that will be removed
colums_to_remove = ["Nscore", "Escore",	"Oscore", "Ascore", "Cscore", "Semer", "Alcohol", "Caffeine", "Chocolate", "Nicotine", "Legal Highs", "Benzodiazepine"]

# Remove Columns
drug_consupmtion_clean_df = drug_consupmtion_df.drop(colums_to_remove, axis="columns")

# Remove the Rows for which the Country = "Other"
drug_consupmtion_clean_df = drug_consupmtion_clean_df.loc[drug_consupmtion_clean_df["Country"]!="Other", :]

drug_consupmtion_clean_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Impulsive,SS,Amphetamines,Amyl Nitrite,Cannabis,Cocaine,Crack,Ecstasy,Heroin,Ketamine,LSD,Meth,Mushrooms,VSA
0,1,35-44 years,Female,Professional Certificate/ Diploma,United Kingdom,Mixed-White/Asian,-0.21712,-1.18084,CL2,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
1,2,25-34 years,Male,Doctorate Degree,United Kingdom,White,-0.71126,-0.21575,CL2,CL2,CL4,CL3,CL0,CL4,CL0,CL2,CL2,CL3,CL0,CL0
2,3,35-44 years,Male,Professional Certificate/ Diploma,United Kingdom,White,-1.37983,0.40148,CL0,CL0,CL3,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0
3,4,18-24 years,Female,Masters Degree,United Kingdom,White,-1.37983,-1.18084,CL0,CL0,CL2,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0
4,5,35-44 years,Female,Doctorate Degree,United Kingdom,White,-0.21712,-0.21575,CL1,CL1,CL3,CL0,CL0,CL1,CL0,CL0,CL0,CL0,CL2,CL0

In [6]:
# Save cleand data on CSV file
drug_consupmtion_clean_df.to_csv("data/drug_consuption_clean.csv")